<section id="projects-list" class="projects-list-container">
  <div class="projects-list-grid">
    <div class="project-group">
      <div class="project-card" data-project="orcamento">
        <div class="project-image" style="background-image:url('assets/capa_mockup.png');"></div>
      </div>
      <div class="project-title" data-i18n="orcamento-title">CutPro Quote</div>
      <div class="project-desc" data-i18n="orcamento-desc">
        Site personalizado para otimizar orçamentos de vídeo e motion designer, para facilitar a vida do profissional audiovisual.
      </div>
    </div>
   </section>