<section id="sobre-mim" class="sobre-mim-container">
  <div class="sobre-mim-content">
    <img src="assets/foto.png" alt="Daniele Scheibler" class="sobre-mim-foto">
    <div class="sobre-mim-texto">
      <h2>Sobre Mim</h2>
      <strong class="perfil-titulo">UX/UI Designer e Criadora Visual</strong>
      <p>
        Me chamo <b>Daniele Scheibler</b>, sou UX/UI Designer com formação em Ciências Biológicas e background em design gráfico, edição de vídeos e motion design.<br>
        Natural do Rio Grande do Sul, iniciei minha trajetória acadêmica pela ciência, mas encontrei nas artes visuais minha verdadeira paixão.<br>
        Hoje atuo como profissional autônoma criando identidades visuais, conteúdos digitais e experiências centradas no usuário.<br>        
      </p>
      <h3 class="perfil-subtitulo">Ferramentas e Tecnologias</h3><br>
      <div class="perfil-tecnologias">
        <img alt="Figma" title="Figma" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"/>
        <img alt="Photoshop" title="Photoshop" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-plain.svg"/>
        <img alt="Illustrator" title="Illustrator" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/illustrator/illustrator-plain.svg"/>
        <img alt="Premiere" title="Premiere Pro" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/premierepro/premierepro-original.svg"/>
        <img alt="After Effects" title="After Effects" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/aftereffects/aftereffects-original.svg"/>
        <img alt="HTML" title="HTML5" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
        <img alt="CSS" title="CSS3" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
        <img alt="JavaScript" title="JavaScript (básico)" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"/>
        <img alt="MySQL" title="SQL" width="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"/>
      </div>
    </div>
  </div>
</section>